<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>School Project</title>


  <!-- Bootstrap Core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  

  <script src="https://d3js.org/d3.v3.min.js"></script>
  
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script src="../static/js/dimple.v2.3.0.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/stylish-portfolio.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script> 
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body id="page-top">

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">International Schools in US</h1>
        <h3 class="mb-5">
          <em>An analysis by team "Diplomats Of Data"</em>
        </h3>
        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#about" id="about">About Us</a>
        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#graphs">Analysis</a>
      </div>
    </header>

<!-- About us details -->
  <section class="content-section bg-light" id="about">

      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2><u>Team : Diplomats Of Data</u></h2>
          <div class="row" id="details">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
              <span class="service-icon mx-auto mb-3">
                <img class="img-fluid" style="border:5px solid #ffffff" src="../static/img/craig.jpg" alt="Craig">
              </span>
              <h4><strong>Craig Bauer</strong></h4>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
              <span class="service-icon mx-auto mb-3">
                <img class="img-fluid" style="border:5px solid #ffffff" src="../static/img/kristine.jpg" alt="Kristine">
              </span>
              <h4><strong>Kristine Adzema</strong></h4> 
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
              <span class="service-icon mx-auto mb-3">
                <img class="img-fluid" style="border:5px solid #ffffff" src="../static/img/naga.jpg" alt="Naga">
              </span>
              <h4><strong>Naga Pulivarthi</strong></h4> 
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
              <span class="service-icon mx-auto mb-3">
                <img class="img-fluid" style="border:5px solid #ffffff" src="../static/img/sumana.jpg" alt="Sumana">
              </span>
              <h4><strong>Sumana Kar</strong></h4>
            </div>
          </div>
          <br>
          <div class="container text-center">
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#graphs">Analysis</a>
        </div>
      </div>
      </div>
    </div>
  </section>
<!-- Graphs Placeholder -->
  <section id="graphs">
      <!-- <div class="content-section-heading"> -->

        <div class="container text-center" id ="data">

          <h2 class="mb-5"><h2>Data Analysis</h2>

        </div>

      

<!-- all the reports goes in below section -->
<div class="container-flow">
  <div class="row">
    <div class="col-md-12" align="center">
        <h3 class="mb-5">Trends in Minority Composition By County</h3>
        <select id="selCounty" onchange="changeCounty(this.value)">
          <option value="Los Angeles County, California">Los Angeles County, California</option>
          <option value="Santa Clara County, California">Santa Clara County California</option>
          <option value="Orange County, California">Orange County, California</option>
          <option value="Alameda County, California">Alameda County, California</option>
          <option value="Harris County, Texas">Harris County, Texas</option>
          <option value="Cook County, Illinois">Cook County, Illinois</option>
          <option value="Middlesex County, Massachusetts">Middlesex County, Massachusetts</option>
          <option value="Miami-Dade County, Florida">Miami-Dade County, Florida</option>
          <option value="King County, Washington">King County, Washington</option>
          <option value="New York County, New York">New York County, New York</option>
        </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" align="center">
        <div class="totalpop"></div>
    </div>
    <div class="col-md-6">
        <div class="totalPercentage" align="center"></div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6" align="center">
          <div class="over150Percentage" align="center"></div>
      </div>
      <div class="col-md-6">
          <div class="over200Percentage" align="center"></div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6" align="center">
          <div class="originChart" align="center"></div>
      </div>
      <div class="col-md-6" align="center">
          <!-- <h4 class="mb-5">US University Destinations by county/city</h4> -->
          <div class="universityCounty" align="center"></div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6" align="center">
          <div class="universityRanking" align="center"></div>
      </div>
      <div class="col-md-6" align="center">
          <!-- <h4 class="mb-5">US University Destinations by county/city</h4> -->
          <div class="K12Scores" align="center"></div>
      </div>
  </div>
  
</div>

<div class="container">
      <div class="heatmap">

    <div id="chart"></div>
  <div style="width:300px;padding-bottom:10px">
    <div>
      <div style="margin-left:30px">
        <label for="year" >Year: <span id="year"></span> </label>
        <!--<input type="text" id="year" readonly style="border:0; color:#f6931f; font-weight:bold;"> -->
      </div>
      <div id="slider-range-min" style="width:200px;margin:30px"></div>
    </div>
  </div>

</div>



</section>


<!-- Footer -->
<footer class="footer text-center">
  <hr>
  <div class="container">
    <p class="text-muted mb-0">Copyright @Diplomats Of Data 2017</p>
  </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>


<script type="text/javascript" src="../static/app.js"></script>
<script type="text/javascript" src="../static/js/app-choropleth.js"></script>

</body>
</html>
